.show-position {
    position: relative;
    float: left;
}

.input-content {
    position: relative;
    float: left;
    width: 65%;
}

.span-content {
    position: relative;
    float: left;
    width: 35%;
}

.label-content {
    position: relative;
    float: right;
    padding-right: 25px;
}

.error-contnet {
    position: relative;
    float: left;
    padding-left: 35%;
}

.button-content {
    float: right;
    padding-top: 10px;
    margin-top: 15px;
    margin-left: 10px;
}

label.labels {
    float: right;
    padding-right: 15px;
}

span.modal-label-content {
    float: left;
    position: relative;
    width: 25%;
}

