.show-position {
    position: relative;
    float: left;
}

.input-content {
    position: relative;
    float: left;
    width: 65%;
}

.span-content {
    position: relative;
    float: left;
}

.label-content {
    position: relative;
    float: right;
    padding-right: 25px;
}


.button-content {
    float: right;
    margin-left: 10px;
}

label.labels {
    float: right;
    padding-right: 15px;
}
.radio-buttons {
    margin-right: 10px;
}

.radio-rows {
    position: relative;
    float: left;
    padding-left: 50px;
}
.table-top {
    margin-top: 25px;
}
.second-table {
    margin-left: 50px;
}
